.Field {
  border-bottom: 1px solid #999999;
  border-right: 1px solid #999999;
}

.Field-0 {
  width: 160px;
  height: 160px;
}

.Field-1 {
  width: 320px;
  height: 320px;
}

.Field-2 {
  width: 600px;
  height: 320px;
}