.container {
  margin: auto;
}

.container-0 {
  width: 160px;
}

.container-1 {
  width: 320px;
}

.container-2 {
  width: 600px;
}

.container-3 {
  width: 1200px;
}

.field {
  border-bottom: 1px solid #999999;
  border-right: 1px solid #999999;
}

.field-0 {
  width: 160px;
  height: 160px;
}

.field-1 {
  width: 320px;
  height: 320px;
}

.field-2 {
  width: 600px;
  height: 320px;
}

.field-3 {
  width: 1200px;
  height: 640px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  background: #dddddd;
  padding: 5px;
}

.topbar-block {
  background: #000000;
  color: #ff0000;
  font-family: Arial;
  font-weight: bold;
  font-size: 20px;
  padding: 3px;
  min-width: 40px;
  text-align: right;
}

.bottombar {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.cell {
  float: left;
  width: 20px;
  height: 20px;
  background: #e3e3e3;
  cursor: default;
  text-align: center;
  font-family: Arial Black;
  font-size: 16px;
  line-height: 18px;
  vertical-align: middle;
  box-sizing: border-box;
  border-top: 1px solid #999999;
  border-left: 1px solid #999999;
}

.cell-closed {
  background: #cccccc;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #999999;
  border-bottom: 2px solid #999999;
}

.cell-detonated {
  background: #ff9999;
}

.cell-mine {
  font-size: 14px;
  line-height: 17px;
}

.cell-mine::before {
  content: '\1F4A3';
}

.cell-flag {
  line-height: 16px;
}

.cell-flag::before {
  content: '\2691';
}

.cell-flag-red {
  color: #cc0000;
}

.cell-flag-green {
  color: #006600;
}

.cell-flag-gray {
  color: #999999;
}

.cell-1 {
  color: #0000ff;
}

.cell-1:before {
  content: '1';
}

.cell-2 {
  color: #006600;
}

.cell-2:before {
  content: '2';
}

.cell-3 {
  color: #ff0000;
}

.cell-3:before {
  content: '3';
}

.cell-4 {
  color: #000077;
}

.cell-4:before {
  content: '4';
}

.cell-5 {
  color: #770000;
}

.cell-5:before {
  content: '5';
}

.cell-6 {
  color: #006666;
}

.cell-6:before {
  content: '6';
}

.cell-7 {
  color: #007777;
}

.cell-7:before {
  content: '7';
}

.cell-8 {
  color: #777777;
}

.cell-8:before {
  content: '8';
}

.status {
  font-size: 20px;
  cursor: pointer;
}

.status0:before {
  content: '\1F642';
}

.status1:before {
  content: '\1F642';
}

.status2:before {
  content: '\1F60E';
}

.status3:before {
  content: '\1F915';
}
